<div *ngIf="(appState$ | async) as appState">
<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
	<div class="container">
	  <a class="navbar-brand mb-0 h1" routerLink="/home-page"
		>PraisePoint</a>
	  <div class="navbar-collapse" id="navbarSupportedContent" *ngIf="isLoggedIn; else notLoggedIn">
		<ul class="navbar-nav ms-auto align-items-center">
		  <li class="nav-item">
			<a class="sidenav-link active nav-link mx-2" routerLink="/home-page">
				<i class="fa-solid fa-house"></i>
				Home
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link mx-2" routerLink="/basket">
			<i class="fa-solid fa-shop"></i>
				Shop
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link mx-2" [routerLink]="['/basket', 'cart']">
				<i class="fa-solid fa-cart-shopping"></i>
			</a>
		  </li>
		  <li class="nav-item" *ngIf="hasAdminRole()">
			<a class="nav-link mx-2" [routerLink]="['/user', 'admin']">
				<i class="fa-solid fa-user"></i>
				Users
			</a>
		  </li>
		  <li class="nav-item ms-3">
			<a class="btn btn-black btn-info btn-rounded" (click)="logout()" routerLink="/user">Sign out</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>
</div>
<ng-template #notLoggedIn>
	<div>
	  	<ul class="navbar-nav ms-auto align-items-center">
		  <li class="nav-item ms-3">
			<a class="btn btn-black btn-info btn-rounded" [routerLink]="['/user']">Log in</a>
		  </li>
		</ul>
	</div>
</ng-template>