<!-- <html lang="en">
    <app-reward></app-reward>
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Unlock Your Rewards</h1>
            <p class="fs-5 text-body-secondary">Redeem your hard-earned points for exclusive products designed to enhance your work and life. Discover what’s available and treat yourself!</p>
          </div>
    </header>

    <app-product-list></app-product-list>
</html>

 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Rewards Page</title>
 </head>
 <body>
     <header>
         <div class="header-content">
             <app-reward></app-reward>
             <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                 <h1 class="display-4 fw-normal text-body-emphasis">Unlock Your Rewards</h1>
                 <p class="fs-5 text-body-secondary">Redeem your hard-earned points for exclusive products designed to enhance your work and life. Discover what’s available and treat yourself!</p>
             </div>
         </div>
     </header>
 
     <app-product-list></app-product-list>
 </body>
 </html>
 